<div class="container">
  <h4 class="mt-5">レビュー編集</h4>

  <%= form_with model: [@item, @review], url: item_review_path, local:true do |f| %>
  <%= render "layouts/error_messages", model: f.object %>

  <div class="row mt-5 offset-3" id="star">
    <%= f.hidden_field :rate %>
  </div>
  <div class="rate<%= @review.id %> mt-2 offset-3" data-score="<%= @review.rate %>"></div>
  <div class="row mt-5 offset-3">
    <%= f.text_area :text, size: "40x5" %>
  </div>
  <div class="row mt-5 offset-3">
    <%= f.submit "変更する", class: "btn btn-success offset-1" %>
    <% if @review.user_id == current_user.id %>
      <%= link_to "削除する", item_review_path(@review.item_id, @review.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger text-white ml-3" %>
    <% end %>
  </div>
  <% end %>
</div>

<%#編集する投稿のrateを星表示。部分テンプレートにしたい%>
<script>
    $(".rate<%= @review.id %>").raty({
    half: true,
    score: function() {
      return $(this).attr('data-score');
    },
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "review[rate]"
  });
  </script>