<div class="container">
  <div class="row">
    <div class="mt-3 bg-light"><h5>新規レビュー</h5></div>
  </div>

  <%= form_with model: [@item, @review], url: item_reviews_path, local:true do |f| %>

  <div class="row mt-5 offset-3" id="star">
    <%= f.hidden_field :rate %>
  </div>
  <%= render 'public/reviews/rate' %>
  <div class="row mt-5 offset-3">
    <%= f.text_area :text, size: "40x5" %>
  </div>
  <div class="row mt-5 offset-3">
  <%= f.submit "投稿する", :class=>"btn offset-2 btn-outline-success" %>
  </div>
  <% end %>
</div>