
<div class="container">
  <h4 class="mt-5">新規レビュー投稿</h4>

  <%= form_with model: [@item, @review], url: item_reviews_path, local:true do |f| %>
  <%= render "layouts/error_messages", model: f.object %>

  <div class="mt-5 offset-4" id="star">
    <%= f.hidden_field :rate %>
  </div>

  <div class="row mt-5 offset-3">
    <%= f.label :コメント, class: "mr-5" %>
    <%= f.text_area :text, size: "40x10", placeholder: "レビューを書いてみましょう!" %>
  </div>
  <div class="row mt-5 offset-3">
  <%= f.submit "投稿する", class: "btn offset-2 btn-success" %>
  </div>
  <% end %>
</div>


<%#id=starに対して発火%>
<script>
  $("#star").empty();
  $("#star").raty({
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "review[rate]",
    half: true
  });
</script>