<div class="container">
  <div class="row mt-5 offset-2">
    <%= attachment_image_tag @review.user, :profile_image, format: "jpeg", size: "60x60", fallback: "no_image.jpg" %>
    <%= link_to @review.user.name, user_path(@review.user_id) %>
    <div class="ml-3"><%= l @review.updated_at %></div>
  </div>
  <div class="rate<%= @review.id %> row mt-1 offset-2" data-score="<%= @review.rate %>"></div>
  <div class="row offset-2">
    <div class="mt-3 col-9"><%= @review.text %></div>
  </div>
</div>

<%#レビュー詳細に対し発火。切り出せるかは%>
<script>
    $(".rate<%= @review.id %>").raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>"
  });
  </script>